:root {
  --max-width: 70rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Bai Jamjuree;
  font-size: 1.8rem;
}

.container {
  width: 144rem;

  max-width: var(--max-width);
  margin: 0 auto;

  text-align: center;
}

.header {
  height: 18rem;

  background-image: url(images/bg-header-desktop.png);

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  height: 10rem;
  width: 10rem;
}

.logo {
  height: 100%;
  width: 100%;
}

.topic {
  font-weight: 600;
  font-size: 2.5rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 0.4rem;
}

.heading {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}

.heading-description {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3.8rem;
  color: hsl(201, 11%, 66%);
}

/* .sh-width {
  max-width: 60rem;
  text-align: center;
} */

.btn {
  padding: 1rem 2.2rem;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 8rem;

  border: none;
  cursor: pointer;
}

.btn-ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: inset 0px 0px 6px hsl(171, 66%, 44%);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: inset 0px 0px 6px hsl(233, 100%, 69%);
}

.macbook-img {
  width: 84%;
  margin-left: -4rem;
}

.flex-container {
  display: flex;
  align-items: center;

  column-gap: 2.5rem;

  margin-bottom: 9.2rem;
}

.flex-text {
  padding: 5rem;
}

.access-marginbm {
  font-weight: 400;
  margin-bottom: 3.8rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 7rem;
}

.tablet {
  width: 60%;
  margin-bottom: 8rem;
}

.description {
  display: flex;
  column-gap: 1.5rem;
}

.icons-img {
  height: 2.5rem;
  fill: hsl(201, 11%, 66%);
  margin-bottom: 2.5rem;
}

.featured-in {
  display: flex;
  column-gap: 8rem;
  flex: 1;
  padding: 6rem 0;
  margin-bottom: 5rem;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}

.featured-in img {
  height: 3rem;
}

.footer {
  background-color: hsl(198, 68%, 96%);
  display: flex;
  flex: 1;

  gap: 14rem;

  font-size: 1.2rem;
  align-items: center;
  justify-content: center;

  padding: 2rem 0rem;
}

.footerlogo-box {
  height: 4rem;
  width: 4rem;
}

.footer-logo {
  height: 100%;
  width: 100%;
}

.footerlink-container {
  display: flex;
  gap: 5rem;
}

.footer-link {
  color: hsl(201, 11%, 66%);
  text-decoration: none;
  margin-right: 4rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.social-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
